body {
  font-family: "Lucinda Console", Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

.headtitle {
  background-color: rgb(32, 98, 254);
  display: block;
  padding: 10px;
  margin: 10px 35%;
}

.ulmain {
  background-color: rgb(255, 84, 175);
  padding: 20px;
  text-align: center;
  margin: 10px 25%;
  /* width: 300px; */
}

.ulmain li {
  background: #ffe5e5;
  color: darkred;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
}
